.m-12
  .md:mx-auto.rounded.shadow-md.bg-white.px-8.pt-6.pb-8.mb-4{:class => "md:w-1/2"}
    %h2class>
    \="text-center text-3xl text-gray-800"&gt;Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render devise/shared/error_messages, resource: resource
    .field.mb-6
      = f.label :email, class: 'inline-block mb-2 text-gray-700 font-bold'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: email, class: 'shadow appearance-none rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Email'
    - if devise_mapping.confirmable?  resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field.mb-6
      = f.label :password, class: 'inline-block mb-2 text-gray-700 font-bold'
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, autocomplete: new-password, class: 'shadow appearance-none rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Password'
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    .field.mb-6
      = f.label :password_confirmation, class: 'inline-block mb-2 text-gray-700 font-bold'
      %br/
      = f.password_field :password_confirmation, autocomplete: new-password, class: 'shadow appearance-none rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Password'
    .field.mb-6
      = f.label :current_password, class: 'inline-block mb-2 text-gray-700 font-bold'
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: current-password, class: 'shadow appearance-none rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Password'
    .actions
      = f.submit Update, class: 'shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded'
  %h3 Cancel my account
  %p
    Unhappy? #{button_to Cancel my account, registration_path(resource_name), data: { confirm: Are you sure? }, method: :delete}
  = link_to Back, :back
