- if resource.errors.any?
  #error_explanation.mb-4
    %h2.bg-red-500.text-white.font-bold.rounded-t.px-4.py-2
      = I18n.t("errors.messages.not_saved",                 |
        count: resource.errors.count,                       |
        resource: resource.class.model_name.human.downcase) |
    %ul.bg-red-100.border.border-top-0.border-red-400.rounded-b.px-4.py-3.text-red-700
      - resource.errors.full_messages.each do |message|
        %li= message
