- if controller_name != 'sessions'
  = link_to "Log in", new_session_path(resource_name), class: 'inline-block bg-teal-500 px-2 py-1 rounded hover:bg-teal-700 m-1 text-white'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Cadastrar-se", new_registration_path(resource_name), class: 'inline-block bg-teal-500 px-3 py-2 rounded hover:bg-teal-700 m-1 text-white'
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "Esqueceu a senha?", new_password_path(resource_name), class: 'inline-block bg-gray-300 hover:bg-gray-400 text-gray-800 px-3 py-2 rounded m-1'
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'inline-block bg-teal-500 px-3 py-2 rounded hover:bg-teal-700 m-1 text-white'
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'inline-block bg-teal-500 px-3 py-2 rounded hover:bg-teal-700 m-1 text-white'
  %br/
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
    %br/
