%body
  %header.bg-gray-800.text-white.p-2
    .flex.mx-auto.justify-between.items-center{:class => "w-10/12"}
      %div
        = link_to 'Chat Mondrian', root_url,                                       |
          class: 'font-bold text-gray-500 hover:text-white text-xl tracking-tight' |
      %div
        - if current_user
          .flex.justify-between.items-center
            %button.flex.items-center.text-white.text-xl.hover:font-bold{:role => "button"}
              %img.h-8.rounded-full{:alt => "", :src => "#{current_user.gravatar_url}"}/
              %span.ml-2= current_user.username
            = link_to 'Logout', destroy_user_session_path,                                              |
              method: :delete,                                                                          |
              class: 'inline-block bg-teal-700 hover:bg-teal-800 rounded-full px-4 py-2 ml-8 font-bold' |
