.m-12
  .md:mx-auto.rounded.shadow-md.bg-white.px-8.pt-6.pb-8.mb-4{ class: "md:w-1/2"}
    %h2.text-center.text-3xl.text-gray-800.mb-5 Login
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.mb-6
        = f.label :email,
          class: 'block text-gray-700 font-bold mb-1'
        = f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          class: 'shadow appearance-none rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
          placeholder: 'Email'
      .field.mb-6
        = f.label :senha,
          class: 'block text-gray-700 font-bold mb-1'
        = f.password_field :password,
          autocomplete: "current-password",
          class: 'shadow appearance-none rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
          placeholder: 'Senha'
      - if devise_mapping.rememberable?
        .md:flex.md:items-center.mb-6.field
          = f.check_box :remember_me, class: 'mr-2 leading-tight'
          = f.label :remember_me, class: 'text-sm text-gray-500 font-bold'
      .actions
        = f.submit 'Entrar',
          class: 'w-full shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded'
    = render "devise/shared/links"
