.flex
  .px-2.py-2.m-1.rounded-lg.shadow-md.bg-white{:class => "w-1/4"}
    = render 'rooms'
  .px-4.py-2.m-1.rounded-lg.shadow-md.bg-white{:class => "w-3/4"}
    .bg-teal-100.h-full.text-teal-900.border-lg.rounded.p-2
      %h1.text-2xl.text-gray-600.font-bold Welcome to Rails Chat Tutorial
      %p.text-teal-500 We need to talk
      %hr/
      %p.text-teal-400 You can join a room or create a new room from the sidebar
