!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no",
           name: "viewport"}
    %title RailsChatTutorial
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.text-gray-800.bg-gray-600
    = render 'shared/navigation'
    .mt-2.mx-auto{:class => "md:w-10/12"}
      = yield
